.start{
    background-image: url("https://image.shutterstock.com/image-photo/cut-into-slices-delicious-fresh-260nw-514537924.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20PX;
    width: 200px;
    font-size: 15PX
  }
  
  li a {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
    
#para1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,;
    font-size: 56px;
    margin-top: 76px;
    color: white;

}
#head1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,;
    font-size: 36px;
}
#para2{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
   
    
}
.row{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;


}
#une{
    margin-top: -100px;
    color: white;
    font-size: 20px;

}
#deux{
    margin-top: -100px;
    color: white;
    font-size: 20px;

}
#trois{
    margin-top: -100px;
    color: white;
    font-size: 20px;

}
#quatre{
    margin-top: -100px;
    color: white;
    font-size: 20px;

}
.row1{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;


}
.row2{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
}

img:hover{
    transform:scale(1.1);
    filter: brightness(0.5);
}
button{
    padding: 5px;
    margin: 5px;
    background-color:green;
    border: none;
    width: 15%;
    height: 60px;
    border-radius: 10%;
    position: relative;
    top: 20px;
    left:10px
}
button:hover{
    background-color: black;
    color: white;

}
button a{
    text-decoration: none;
    font-size: 25px;
    color: black
}
button a:hover{
    color: white;
    text-decoration: none;
}
input{
    position: relative;
    top: 6px;
    width: 90%;
}
label{
    position: relative;
    top: 6px;
    width: 90%;
    float: left;
    font-size: 35px;
    width: 100%

}
select{
    width: 90%;
    position: relative;
    top: 6px
}
col-md-4{
    position: relative;
    top: 30px;
    right: 100px

}